@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    @apply bg-nuit text-white font-inter;
  }

  input:focus-visible,
  select:focus-visible,
  textarea:focus-visible,
  button:focus-visible {
    @apply outline-none ring-2 ring-ocre ring-offset-1 ring-offset-nuit;
  }

  .animate-scroll-up {
    animation: scrollUp 22s linear infinite;
  }
  .animate-scroll-down2 {
    animation: scrollDown2 28s linear infinite;
  }
  .animate-scroll-up3 {
    animation: scrollUp3 19s linear infinite;
  }
}

@keyframes scrollUp {
  from {
    transform: translateY(0);
  }
  to {
    transform: translateY(-50%);
  }
}

@keyframes scrollDown2 {
  from {
    transform: translateY(-10%);
  }
  to {
    transform: translateY(40%);
  }
}

@keyframes scrollUp3 {
  from {
    transform: translateY(-15%);
  }
  to {
    transform: translateY(-65%);
  }
}
